{% extends 'blog/base.html' %}

{% block content %}
<a href="{% url 'baru_post' %}"><span class="glyphicon glyphicon-plus"></span>Tambah Post</a>

    {% for post in posts_ditemplate %}
        <div class="post">
            <div class="date">
                <p>terbit: {{ post.tgl_terbit }}</p>
            </div>
            <h2><a href="{% url 'detail_post' pk=post.pk %}">{{ post.judul }}</a></h2>
            <p>{{ post.isi|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
              