{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.tgl_terbit %}
            <div class="date">
                {{ post.tgl_terbit }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'edit_post' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.judul }}</h2>
        <p>{{ post.isi|linebreaksbr }}</p>
    </div>
{% endblock %}